<template>
  <panel-item :field="field" :field-name="fieldName">
    <template #value>
      <excerpt
          v-if="value && asHtml"
          :content="value"
          :plain-text="false"
          :should-show="field.shouldShow"
      />
      <p v-if="value && !asHtml" class="text-90">
        {{ value }}
      </p>
      <p v-else-if="!value">-</p>
    </template>
  </panel-item>
</template>

<script>
export default {
  props: ['resource', 'resourceName', 'resourceId', 'field'],

  data() {
    return {
      currentLocale: this.field.currentLocale
    }
  },

  mounted() {
    Nova.$emit('translate.exists', true)
    Nova.$on('translate.changeLocale', this.changeLocale)
  },

  methods: {
    changeLocale(locale) {
      this.currentLocale = locale
    }
  },

  computed: {
    value() {
      return this.field.value ? this.field.value[this.field.indexLocale] || '—' : '-'
    },

    fieldName() {
      return `${this.field.name} (${this.currentLocale})`
    },

    asHtml(){
      return this.field.asHtml || this.field.richText
    }
  },
}
</script>
