<template>
  <DefaultField :field="field"
                 :field-name="fieldName"
                 :errors="errors"
                 :full-width-content="true"
                 :show-help-text="showHelpText"
  >
    <template #field>

      <input
          v-if="field.singleLine"
          ref="field"
          type="text"
          :id="field_id"
          class="w-full form-control form-input form-input-bordered"
          :class="errorClasses"
          :placeholder="field.name"
          :disabled="isReadonly"
          v-model="value[currentLocale]"
      />

      <textarea
          v-if="field.textArea"
          ref="field"
          :id="field_id"
          class="w-full form-control form-input form-input-bordered py-3 min-h-textarea"
          :class="errorClasses"
          :placeholder="field.name"
          :disabled="isReadonly"
          v-model="value[currentLocale]"
      />

      <tiny-mce
          v-if="field.richText"
          ref="field"
          :id="field_id"
          class="w-full form-control form-input form-input-bordered"
          v-model="value[currentLocale]"
          :class="errorClasses"
          :placeholder="field.name"
          :init="tinyMceOptions"
          :disabled="isReadonly"
          :api-key="tinyMceApiKey"
      />

    </template>
  </DefaultField>
</template>

<script>

import {FormField, HandlesValidationErrors} from 'laravel-nova'
import Editor from '@tinymce/tinymce-vue'

export default {
  mixins: [FormField, HandlesValidationErrors],

  props: ['resourceName', 'resourceId', 'field'],

  components: {'tiny-mce': Editor},

  data() {
    return {
      value: {},
      currentLocale: this.field.currentLocale,
      field_id: ''
    }
  },

  created() {
    this.field_id = this.field.uuid
    if(this.getClosestIndexedParent()) {
      this.field_id += '-' + this.getClosestIndexedParent().index
    }
  },

  mounted() {
    Nova.$emit('translate.exists', true)
    Nova.$on('translate.changeLocale', this.changeLocale)
    Nova.$emit('translate.refresh')
  },

  methods: {
    getClosestIndexedParent() {
      let component = null
      let parent = this.$parent
      while (parent && !component) {
        if (parent.index !== undefined) {
          component = parent
        }
        parent = parent.$parent
      }
      return component
    },

    setInitialValue() {
      this.value = !(this.field.value === undefined || this.field.value === null || Array.isArray(this.field.value))
          ? this.field.value
          : {}
      this.locales.forEach(locale => {
        this.locale = this.value[locale] ? this.value[locale] : ''
      })
    },

    fill(formData) {
      Object.keys(this.value).forEach(locale => {
        formData.append(this.field.attribute + '[' + locale + ']', this.value[locale] || '')
      })
    },

    changeLocale(locale) {
      this.currentLocale = locale
    },
  },

  computed: {
    locales() {
      return Object.values(this.field.locales)
    },

    fieldName() {
      return `${this.field.name} (${this.currentLocale})`
    },

    tinyMceOptions(){
      const config = this.field.richTextOptions || {}
      if(config.custom_plugins){
        const plugins = config.custom_plugins
        config.setup = () => {
          plugins.forEach(plugin => {
            if (window.tiny_mce_custom_plugins && window.tiny_mce_custom_plugins[plugin]) {
              window.tinymce.PluginManager.add(plugin, window.tiny_mce_custom_plugins[plugin])
            }
          })
        }
        delete config.custom_plugins
      }
      return config
    },

    tinyMceApiKey(){
      return Nova.config('tinyMceApiKey')
    },

    isReadonly() {
      return this.field.readonly || false;
    }
  }
}
</script>
