<template>
  <div v-if="shouldShow" class="tabs-bar">
    <a v-for="locale in field.locales"
       @click="toggleLang(locale)"
       class="tabs"
       :class="{active: locale === currentLocale}">
      {{ locale }}
    </a>
  </div>
</template>

<script>
export default {
  props: ['resource', 'resourceName', 'resourceId', 'field'],

  data() {
    return {
      shouldShow: false,
      currentLocale: this.field.currentLocale
    }
  },

  created() {
    Nova.$on('translate.exists', () => this.shouldShow = true)
    Nova.$on('translate.refresh', this.emitCurrentLang)
  },

  methods: {
    toggleLang(locale) {
      this.currentLocale = locale
      Nova.$emit('translate.changeLocale', locale)
    },

    emitCurrentLang() {
      Nova.$emit('translate.changeLocale', this.currentLocale)
    },

    /**
     * Fill the given FormData object with the field's internal value.
     */
    fill(formData) {},
  }
}
</script>

<style scoped lang="scss">
.tabs-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 9.875rem;
  right: 0;
  text-transform: uppercase;
}
.tabs {
  color: var(--80);
  width: 2.5rem;
  height: 2.5rem;
  border: #0a0e14 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px 0 0 0;
  background-color: var(--white);
  opacity: 0.6;
  cursor: pointer;
& + & {
    border-top: none;
    border-radius: 0 0 0 3px;
  }
&:hover {
   opacity: 1;
 }
}
.active {
  cursor: default;
  opacity: 1;
  color: var(--white);
  background-color: var(--primary);
}
</style>
